<p-dataView #dv [value]="propLst" [paginator]="true" [rows]="4" paginatorPosition="both" [sortOrder]="sortOrder"
    filterBy="location,type,title,builder.name">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Type to search..."
                            (keyup)="dv.filter($event.target.value)" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-prop pTemplate="listItem">
        <div class="ui-g" style="border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g">
                    <div class="ui-g-12"> {{prop.title}}<span (click)="shortListProp(prop)"
                            [ngClass]="{'fa':true, 'fa-star-o':!prop.shortlisted, 'fa-star':prop.shortlisted}"
                            style="color: #3198db; font-size:1.4em"></span></div>
                    <div class="ui-g-6 ui-sm-6"> {{prop.cost|indianCurrency}} </div>
                    <div class="ui-g-6 ui-sm-6"> {{prop.size}}sq.ft </div>
            <div class="ui-g-12">
                <div [ngClass]="{'showMore': more, 'showLess': !more}">{{prop.description}}</div>
                <span (click)="more = !more"
                    style="color: #3198db;cursor: pointer;">{{more ? '--Less' : '++more'}}</span>
            </div>
            <div class="ui-g-12" style="font-size: small;padding-top:1%">
                <span>Posted on {{prop.pdate | date: 'dd/MM/yyyy'}} by {{prop.builder.name}} Builders</span>
            </div>
            <div class="ui-g-12" style="font-size: small;padding-top:1%">
                <span>Location: {{prop.location}} </span>
            </div>
            <div class="ui-g-12" style="font-size: small;padding-top:1%" (click)="gotoProp(prop)">
                <span style="color: #3198db;cursor: pointer; text-decoration: underline;">click to know about more </span>
            </div>
        </div>
        </div>
        </div>
    </ng-template>
</p-dataView>