
nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }

  agm-map {
    height: 500px;
  }
  .clsprpdtlsec{
    width:100%;
  }
  pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 2em;
  }
  .imgAmnty{
    padding: 1%;
    text-align: center;
  }
  .imgAmnty img {
    height: 60px;
  }
  .imgAmnty div {
    font-weight: 600;
  }
  :host >>> .locHltsCls li{
    font-size: 15px;
    padding: 0.4%;
    list-style-type: circle;
    font-style: italic;
  }
  :host >>> p-accordion li{
    padding: 1%;
  }

  :host >>> p-galleria img {
    width:90%;
    height:90%;
    max-width: 90%;
    max-height: 90%;
}
:host >>> .ui-panel-images {
    width: 100%;
    height: 100%;
}
:host >>> ol {
  list-style-type: disc;
  list-style-position: inside;
}
.locHltsCls{
  margin: 1%;
}
agm-map {
  height: 300px !important;
  width: 100%;  /* This is really important*/
}