<div>
  <div class="row">
       <div class="col-lg-12">
           <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 0px">
                 <div class="srchColClss1">
                  <p-dropdown  [options]="this.commonService.propLocTypes" [(ngModel)]="selType" placeholder="Select a Residence" optionLabel="type" [showClear]="true"></p-dropdown>
               </div>
              </div>
               <div class="col-lg-5 col-md-5 col-sm-12" style="padding: 0px">
                   <div class="srchColClss">
                    <p-autoComplete [forceSelection]="false" [(ngModel)]="selLocation" [suggestions]="resultLocs" (completeMethod)="filterLocations($event)" [minLength]="1" placeholder="Enter Location" field="location" [multiple]="true" styleClass="wid100"></p-autoComplete>
                </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 0px">
                   <div class="srchColClss3">
                   <button type="button" class="btn btn-danger wrn-btn" (click)="searchprop()">Search</button>
                </div>
               </div>
           </div>
       </div>
   </div>
</div>