.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    text-align: center;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius:0;
}
 :host >>> .srchColClss p-autocomplete {
    width: 100%;
} 
:host >>> .srchColClss p-autocomplete .ui-autocomplete{
    width: 100%;
}
:host >>> .srchColClss p-autocomplete .ui-inputtext{
    border: none;
    width: 100%;
    text-align: center;

} 
.srchColClss1, .srchColClss{
    background-color: white;
    border-right: 1px solid #fed136;
    width: 100%;
    padding-top: 1%
}
.srchColClss1{
    padding-top: 1.2%;
}
.srchColClss3{
    width: 100%;
    background-color: red;
}
:host >>>p-dropdown{
    padding-top: 1%;
    width: 100%;
}
:host >>> .srchColClss1 .ui-dropdown{
    width: 100%;
    border: none;
    text-align: center;
}