<form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>

    <div class="container">
        <div class="row form-group">
            <div class="col-2 field-label-responsive">
                <label for="email">Username*:</label>
            </div>
            <div class="col-8">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
              <input type="text" name="email" class="form-control" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                      placeholder="you@example.com" [(ngModel)]="changePass.mail" required email>
                      </div>
            </div>
            <div class="col-2">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                              <div *ngIf="f.submitted && email.invalid">
                                      <div *ngIf="email.errors.required">Email is required</div>
                                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                  </div>
                        </span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 field-label-responsive">
                <label for="password">Password*:</label>
            </div>
            <div class="col-md-8">
                <div class="has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="oldpassword" class="form-control" placeholder="Password" [(ngModel)]="changePass.oldpassword"
                        #oldpassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && oldpassword.invalid }" required>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                              <div *ngIf="f.submitted && oldpassword.invalid">
                                      <div *ngIf="oldpassword.errors.required">Password is required</div>
                                  </div>
                        </span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 field-label-responsive">
                <label for="password">Password*:</label>
            </div>
            <div class="col-md-8">
                <div class="has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="changePass.password" 
                        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                              <div *ngIf="f.submitted && password.invalid">
                                      <div *ngIf="password.errors.required">Password is required</div>
                                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                                  </div>
                        </span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 field-label-responsive">
                <label for="password">Confirm Password*:</label>
            </div>
            <div class="col-md-8">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="confirm" class="form-control" [(ngModel)]="confirmPsswd" #confirm="ngModel"
                         placeholder="Password" [ngClass]="{ 'is-invalid': f.submitted && confirm.invalid }"  required>
                    </div>
            </div>
            <div class="col-md-2">
                  <div class="form-control-feedback">
                          <span class="text-danger align-middle">
                                <div *ngIf="f.submitted && confirm.invalid">
                                        <div *ngIf="confirm.errors.required">Password is required</div>
                                    </div>
                                  <dib *ngIf="f.submitted">
                                          <div *ngIf="confirmPsswd != changePass.password">Passwords must be same</div>
                                  </dib>
                          </span>
                  </div>
              </div>
        </div>
        <div class="form-group">
            <button  class="btn btn-success"> Change Password</button>
        </div>
    </div>
  </form>

  <!-- <label for="uname"><b>Username</b></label>
      <input type="text" name='mail' [(ngModel)]="changePass.mail" pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}"  id="mail" placeholder="you@example.com" required>
      <label for="old"><b>Old Password</b></label>
      <input type="password" placeholder="Enter Password" name="old"  [(ngModel)]="changePass.oldpassword" required>
      <label for="new"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="new"  [(ngModel)]="changePass.password" required>
      <label for="psw"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw"  required>
      <button type="submit" (click)="changePassword()" class="clslogin">Change Password</button> -->