.search-sec{
    padding: 2rem;
    position: absolute;
    z-index: 2
}
.gallerySec{
    position: absolute;
    z-index: 1;
    margin: 1% 4%;
    width:100%
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: 80px;
        /* background: rgba(26, 70, 104, 0.51); */
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}