<div class="container aboutClss">
  <p-fieldset legend="WHY MYRON HOMES">
    <div> We continuously work to MAKE YOUR DREAMS COME TRUE. WE ARE HERE TO PROVIDE YOU from empty spaces
      to lively homes so as from land to landmarks; whatever we build, we craft a lively homes.</div>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Over the years, MYRON provide hard effortsmade the band
      synonymous to trust. an installed virtue
      behind remains to be the fact that neverbelieve in making false commitments. All that is done and
      undertaken to be done under the brand name is made sure to be in accordance with the prevailing laws
      and bvlaws of the land as well as properties.
    </div>
  </p-fieldset>
  <p-fieldset legend="WHO WE ARE">
    MYRON HOMES is a team of people who aspire to progress the industry and change the experience of buying and selling
    real estate.
    They set out to raise the bar and deliver a more effective way of doing business.
    We are pleased to introduce Myron Homes as one of the fastest growing marketing giants in indian real estate.
    Besides enabling our clients to get the best deals in the real esate sector, We provide end to end support.
    Our core strength is our well trained and experienced staff which is why we can guarantee excellent service and
    client satisfaction.
  </p-fieldset>
  <div class="row" style="margin-top: 1%">
    <div class="col-sm-12 col-md-6">
      <p-card>
        <img src="assets/images-myron/chairman.jpg" class="aboutImgCls">
      </p-card>
    </div>
    <div class="col-sm-12 col-md-6">
      <div style="margin-top: 3%">
        <p-card header="CHAIRMAN&MANAGING DIRECTOR">
          <div>
              "Ever since myron homes started operations they were led by cmd <p style="font-weight: bold; display:inline">mr.Yuvaraju</p> who was a
              Commerce graduate and visited europe/canada followed by usa. He also has a deploma from
              Orea(ontarion realestate association) from toronta canada, to pick the latest trends for
              The better fecilitation to thee clients in evaluating values of property, realestate investment
              Analysis, principles of mortagage financing and also principles of property financing skills."
          </div>
        </p-card>
      </div>
      <div style="margin-top: 3%">
        <p-card header="MISSION">
            <div>
                Our Mission Is to Empower consumers with information to make Smart Marketing Decisions.
                To deliver affordable, luxurious and state of the art homes in promising neighbourhood.
                Listing & selling of brand new luxury homes, apartments, residential communitites, plots and farm lands.
                To maintain a staff of well trained professionals who can continually strive to provide top quality
                service for each and every client and customer at their doorstep.
            </div>
          </p-card>
      </div>
    </div>
  </div>
</div>
<div class="homefoot">
    <div style="width:100%">
    <p-card>
      <div style="text-align: center;">Address: Plot No: 59,Road No : 71,Film Nagar,Jubilee hills,Hyderabad – 500 096.
      Call:9809803838, 9569564848 Email: sales@myronhomes.in</div>
      <div style="text-align: center;font-size: 12px">©2019 Myron Homes Construction Company (P) LTD | Top Real Estate Builders In Hyderabad – Telangana. All Rights Reserved</div>
  </p-card>
  </div>
  </div>