<div class="row clsMlistdv">
  <div class="col-3 clsFiltSec">
    <div class="row clsResType">
    <div class='row' style="width: 100%">
      <span>RESIDENTIAL TYPE</span>
    </div>
    <div class="row btn-group btn-group-toggle">
            <label class="btn-primary"  *ngFor="let res of resdentialTypes" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="res.checked" (click)="filterResTypes(res)"> {{res.type}}
            </label>
    </div>
  </div>
    <div class="row clsLocSrch" >
        <div class='row' style="width: 100%">
            <span>Location</span>
          </div>
          <div class="row btn-group btn-group-toggle">
                  <label class="btn-primary"  *ngFor="let loc of locationRes" ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="loc.checked" (click)="filterLocTypes(loc)"> {{loc.location}}
                  </label>
          </div>
    </div>
    <div class="row">
        <span>Cost Range: <span style="color:#007bff">{{rangeValues[0] + ' - ' }} {{rangeValues[1]<1000?rangeValues[1]:'Max'}} Lakhs</span></span>
        <div style="width: 100%;padding: 10%;">
            <p-slider [(ngModel)]="rangeValues"(onChange)="costChange($event)" [range]="true" [max]="1000"></p-slider>
        </div>
    </div>
    <div class="row">
        <span>Area Size: <span style="color:#007bff">{{areaSizeVals[0] + ' - '}} {{areaSizeVals[1]<10000?areaSizeVals[1]:'Max'}} sqft</span></span>
        <div style="width: 100%;padding: 10%;">
            <p-slider [(ngModel)]="areaSizeVals" (onChange)="sizeChange($event)" [range]="true" [max]="10000"></p-slider>
        </div>
    </div>
  </div>
  <div class="col-9">
    <div class="container srchCls">
        <app-search></app-search>
    </div>
    <div class="row clsListProp" *ngFor="let prop of pagedItems">
      <div class="row">
        <div class="col-3">
            <p-galleria [images]="prop.imgsrc" panelWidth="230" panelHeight="100" [showCaption]="false" ></p-galleria>
        </div>
        <div class="col-9" >
          <div class='row'>
            <div class="col-6" (click)="gotopropdtl()">
                {{prop.title}}
            </div>  
            <div class="col-6">
               <span class="fa fa-envelope"></span>   
               <span (click)="prop.shorlisted = !prop.shorlisted" [ngClass]="{'fa fa-check-circle-o':true, 'colorblue':prop.shorlisted}"></span>      
              </div>             
          </div>
          <div class='row clsCSDtls' (click)="gotopropdtl()">
            <div class="col-2">
              {{prop.cost|indianCurrency}}
            </div>
            <div class="col-2">
              {{prop.size}}sq.ft
              </div>
              <div class="col-8 clsSocialbtns">
                  <span><fb-like url={{url}}></fb-like></span>
                  <!-- <span><tweet url={{url}} text={{text}}></tweet></span> -->
                  <span><linkedin-share url={{url}}></linkedin-share></span>
              </div>
          </div>
          <div class="row clsMlstDtl">
             <div [ngClass]="{'showMore': more, 'showLess': !more}">{{prop.description}}</div>
            <span (click)="more = !more">{{more ? '--Less' : '++more'}}</span>
            </div>
        </div>
      </div>
      <div class="row clsContDtls">
        <div class="col-6"style="    font-size: small;padding-top:1%">
      <span>posted by {{prop.postedon}} by {{prop.Builders}} Builders</span>
        </div>
        <div  class="col-6" style="text-align: right;">
          <span class="clsContLab">
            <label>Conatct Builder</label>
          </span>
        </div>
      </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
  </div>
</div>