<div class="container">
  <div class="row">
       <div class="col-lg-12">
           <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                       <div ngbDropdown class="d-inline-block" style="width: 100%;">
                               <button style="width: 100%;" class="search-slt" id="dresdentialType" ngbDropdownToggle>{{this.commonService.selectedResTypes.type}}</button>
                               <div ngbDropdownMenu aria-labelledby="dresdentialType">
                                 <button ngbDropdownItem *ngFor="let resType of this.commonService.propLocTypes" (click)="ChangeResType(resType)" >{{resType.type}}</button>
                               </div>
                             </div>
               </div>
               <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                    <p-autoComplete [(ngModel)]="this.commonService.selectedLocations" [suggestions]="resultLocs" (completeMethod)="filterLocations($event)" [minLength]="1" placeholder="Enter Location" field="location" [multiple]="true"></p-autoComplete>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                   <button type="button" class="btn btn-danger wrn-btn" (click)="searchprop()">Search</button>
               </div>
           </div>
       </div>
   </div>
</div>