.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    text-align: center;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
:host >>> p-autocomplete{
    background-color: white;
    width: 100%;
    display: block;
    text-align: center;
}

:host >>> p-autocomplete ul{ 
    width: 100%;
    height: calc(3rem + 2px) !important;
    text-align: center;
    border: 0px;
}
/* 
:host >>> .ui-autocomplete-multiple-container.ui-inputtext{
    overflow-y:scroll;
    width: 100%;
} */